html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(93, 68, 48);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* navigation bar */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-brand .logo {
    height: 40px;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin: 0 1rem;
}

.navbar-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.download {
    color: black;
    font-weight: bolder;
    background-color: #ffa500;
    padding: 3px 6px;
    border: 3px solid #ffa500;
    border-radius: 5px;
    transition: color 0.3s;
}

.navbar-nav a:hover {
    color: #ffa500;
}

.download:hover {
    color: #fff;
}

/* main */
main {
    left: 0;
    right: 0;
}